@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #1a1a1a;
}

@layer utilities {
    .animate-in {
        animation-duration: 300ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@keyframes scan {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: 100%;
    }
}